name: gourcer

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Populate dirs
      run: mkdir results && ls
    - name: Clone repo
      run: git clone "https://github.com/$(head repo)" crepo
    - name: Create video
      run: docker run -v "$(pwd)/results:/results" -v "$(pwd)/crepo:/repo"  --env TITLE="$(head repo)" .
    - name: Check
      run: ls
    - name: Copy creds
      env:
        CLIENT_SECRETS: ${{ secrets.CLIENT_SECRETS }}
        REQUEST_TOKEN: ${{ secrets.REQUEST_TOKEN }}
      run: |
        echo "$CLIENT_SECRETS" > client_secrets.json
        echo "$REQUEST_TOKEN" > request.token
    - name: Pull yt-upload
      run: |
        wget 'https://github.com/porjo/youtubeuploader/releases/download/20.04/youtubeuploader_linux_amd64.tar.gz' 
        tar -xvzf youtubeuploader_linux_amd64.tar.gz
    - name: Run yt-upload
      run: |
        ./youtubeuploader_linux_amd64 -filename "results/gource.mp4" -title "Gource visualisation: $(head repo) on $(date '+%Y-%m-%d')" -description 'https://github.com/meain/gourcer' -tags='gource,video,git,github,tech'
