name: gourcer

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check repo
      run: cat repo
    - name: Populate dirs
      run: mkdir results && ls
    - name: Clone repo
      run: git clone --recurse-submodules "$(head repo)" crepo
    - name: Fetch description
      run: ./gstats > description && cat description
    - name: Create video
      env:
        CLIENT_SECRETS: ${{ secrets.CLIENT_SECRETS }}
        REQUEST_TOKEN: ${{ secrets.REQUEST_TOKEN }}
      run: docker run -v "$(pwd)/results:/results" -v "$(pwd)/crepo:/repo"  --env TITLE="$(head repo|grep -Eo '[^\/]*/[^\/]*$')" --env DESCRIPTION="$(cat description)" -e CLIENT_SECRETS="$CLIENT_SECRETS" -e REQUEST_TOKEN="$REQUEST_TOKEN" -t meain/gourcer:0.0.6
